* {
    margin: 0;
    padding: 0;
}
html {
    overflow-x: hidden;
    overflow-y: hidden;
}
/*GRID*/
.grid-container  {
    display: grid;
    grid-template-areas:
    "header"
    "menu"
    "main"
    "footer";
}

:root {
    --fondo-principal: #1F3A5F;
    --secundario: #4d648d;
    --terciario: #acc2ef;
    --fondo-card: #f0ecec;
    --amarillo: #FFEE00;
   }
/*HEADER*/
header {
    display: grid;
    grid-area: header;
    height: 11rem;
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(to bottom, var(--fondo-principal), rgba(255, 255, 255, 0.9));
}
.tienda {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2vh;
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.logo-tienda   {
    display: flex;
    align-items: center;
    font-family: "Trade Winds", system-ui;
    gap: 1rem;
}
#Soundwave {
    width: 3rem;
    animation: palpitar 1.5s infinite;
}
@keyframes palpitar {
        0% {
            transform: scale(1);
        }
        10% {
            transform: scale(0.8);
        }
        30% {
            transform: scale(1.2);
        }
        60% {
            transform: scale(0.9);
          }
        100% {
            transform: scale(1.2);
        }
}
.nombre-tienda{
    font-size: 1rem;
}
.burguer {
    padding: 9px;
    background-color: var(--secundario);
}

#login, #register, .fa-cart-shopping  {
    padding: 5px;
    cursor: pointer;
}
#login {
    background-color: var(--secundario);
    color: var(--amarillo);
}
#register {
    background-color: var(--terciario);
    color: var(--secundario);
}
select {
    width: 11rem;
}
.sesion {
    display: none;
}

/*MENU DE NAVEGACION */
#filtro  {
    display: flex;
    gap: 1.3rem;
    justify-content: center;
    align-items: center;
}



/*MENU DE NAVEGACION*/
menu {
    display: none;
    font-family: "Roboto", sans-serif;
}
ul {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-top: 1rem;
    gap: 4px;
    list-style: none;
    height: 15rem;
}
.list-item {
    text-decoration: none; 
    color: black;
}
li span {
    color: gray;
}
li:hover {
    color: var(--amarillo);
}
.anuncio {
    height:30rem;
    overflow:hidden;
}
.ofertas {
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    height: 30rem;
    background-image: url(../imgs/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.ofertas:hover {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url(../imgs/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--amarillo);
}

/*MAIN*/
main {
    display: grid;    
    width: 100%;
    overflow-y: auto;
    font-family: "Roboto", sans-serif;
    height: calc(100vh - 16rem);
    margin-top: 11rem;
    margin-bottom: 5rem;
}

.difuminado-superior, .difuminado-inferior {
    position: absolute;
    width: 100%;
    pointer-events: none;
}

.difuminado-superior {
    margin-top: 11rem;
    height: 1rem;
    top: 0;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); /* Difuminado en la parte superior */
}

.difuminado-inferior {
    margin-bottom: 5rem;
    height: 1rem;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); /* Difuminado en la parte inferior */
}

.articulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 11px;
    padding-bottom: 2rem;
    gap: 1rem;
}
.card {
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2rem;
    padding: 2rem;
    transition: transform 1s;
}
.card:hover {
    img {
        transform: scale(1.2);
    }
    .fa-share-from-square, .cart {
        display: block;
    }
    box-shadow: 5px 5px 10px var(--fondo-principal);
    background-color: var(--fondo-card);
}
.img {
    height: 15rem;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
    border: #000000 1px solid;
}
img  {
    width: 100%;
    transition: transform 1s;
}

figcaption {
    display: flex;
    flex-direction: column;

    width: 20rem;
    gap: 0.9rem;
    padding-top: 0.5rem;
}
.descripcion {
    font-weight: 400;
}
.ID {
    font-size: 14px;
}
.compra {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
}
.fa-share-from-square, .cart {
    display: none;
    cursor: pointer;
    color: var(--fondo-principal);
}
.cart {
    padding: 3px;
    color: var(--fondo-principal);
    background-color: var(--amarillo);
}
.precio {
    font-size: 30px;
    text-align: end;
}
/*FOOTER*/
footer {
    display: grid;
    grid-area: footer;
    height: 5rem;
    position:fixed;
    bottom: 0;
    width: 100%;
}
.pie {
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    color: white;
    background: linear-gradient(to top, var(--fondo-principal), rgba(255, 255, 255));
    
}
.datos {
    font-family: "Roboto", sans-serif;    
    font-size: 14px;
}
.social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 2.5rem;
    width: 3rem;
    gap: 3px;
}
@media (min-width: 576px) {
    
    .grid-container  {
        overflow-x: hidden;
        display: grid;
        grid-template-areas:
        "header header header header"
        "menu main main main"
        "footer footer footer footer";
    }
    
    menu {
        display: grid;
        grid-area: menu;
        width: 10rem ;
        height: calc(100vh - 16rem);
        margin-top: 11rem;
        margin-bottom: 5rem;
    }
    main {
        display: grid;
        grid-area: main;
    }
    .articulos {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        
    }
    .sesion {
        display: flex;
        align-items: center;     
        gap: 1rem;
    }
    #filtro {
        display: none;
    }
    .burguer {
        display: none;
    }
}
@media (min-width: 960px) {
    .grid-container  {
        overflow-x: hidden;
        display: grid;
        grid-template-areas:
        "header header header header"
        "menu main main main"
        "footer footer footer footer";
    }
    .articulos {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
    }
}
@media (min-width: 1360px) {
    .grid-container  {
        overflow-x: hidden;
        display: grid;
        grid-template-areas:
        "header header header header"
        "menu main main main"
        "footer footer footer footer";
    }
    .articulos {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-evenly;
    }
}